.DS_Store

mesa-model/boid_flockers/__pycache__/__init__.cpython-312.pyc
mesa-model/boid_flockers/__pycache__/agents.cpython-312.pyc
mesa-model/boid_flockers/__pycache__/model.cpython-312.pyc
mesa-model/epstein_civil_violence/__pycache__/__init__.cpython-312.pyc
mesa-model/epstein_civil_violence/__pycache__/agents.cpython-312.pyc
mesa-model/epstein_civil_violence/__pycache__/model.cpython-312.pyc
